<main>
    <h3>Dear <%= locals.userName %>,</h3>
    <p>You can restore your account using link below:</p>
    <a href=<%= locals.linkRestore %>>Restore my account</a>
    <p>In case this action is not caused by you, it can be canceled with the same link.</p>
</main>