<main>
    <h3>Welcome <%= locals.userName %>!</h3>
    <p>Pls, verify your account using link below:</p>
    <a href=<%= locals.link %>>Click me to verify</a>
    <p>Use this passcode: <%= locals.passcode %></p>
</main>