<!DOCTYPE html>
<html>
<body>
    <div>
        <h3>Dear {{userName}},</h3>
        <p>Your new </p>
        <p>Your new email will be: <b>{{newEmail}}</b>, please verify the email change:</p>
        <a href={{link}}>Confirm email change</a>
        <p>Use this passcode: {{passcode}}</p>
        <p>In case this action is not caused by you, make sure that your account is in safe.</p>
    </div>
</body>
</html>