<!DOCTYPE html>
<html>
<body>
    <div>
        <h3>Welcome {{userName}}!</h3>
        <p>Pls, verify your account using link below:</p>
        <a href={{link}}>Click me to verify</a>
        <p>Use this passcode: {{passcode}}</p>
    </div>
</body>
</html>
